
/* import styles */

@import url("/bs-shop-full-version/css/normalize.css"); /* styles Normalize */

@import url("/bs-shop-full-version/css/styles-basic.css"); /* styles basic */

/* header */

.header {
  margin-bottom: 10px;
  height: fit-content;
  min-height: 170px;
  background-color: var(--light-grey);
}

.header__container {
  height: 100%;
  background-color: var(--light-black);
}

/* header__header-top */

.header__header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}

/* header-top__contacts */

.header-top__contacts {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 100%;
}

.contacts__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
}

.contacts__item:first-of-type {
  padding-top: 15px;
}

.contacts__item:last-of-type {
  padding-bottom: 15px;
}

.contacts__item-icon {
  margin-top: 3px;
  margin-right: 15px;
  width: 20px;
}

.contacts__item-link {
  text-align: left;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  color: var(--grey);
}

.contacts__item-link-icon {
  pointer-events: none;
  cursor: default;
}

/* header-top__logo */

.header-top__logo {
  width: 332px;
  cursor: pointer;
}

/* header-top__account */

.header-top__account {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
}

.header-top__account-icon {
  margin-top: 3px;
  margin-right: 15px;
  width: 25px;
}

.header-top__account-title {
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  color: var(--grey);
}

/* header-top__shopping-cart */

.header-top__shopping-cart {
  display: flex;
  align-items: center;
  height: 100%;
  width: fit-content;
}

.header-top__shopping-cart:hover {
  cursor: pointer;
}

.header-top__shopping-cart-icon {
  margin-top: 3px;
  width: 25px;
}

.cart-icon__counter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  transform: translateY(-12px);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--light-black);
  border: 2px solid var(--white);
}

.cart-icon__counter {
  text-align: center;
  font-size: 12px;
  line-height: 100%;
  font-weight: 600;
  color: var(--white);
}

/* header__header-nav (>768px) */

.header__header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header-nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menu__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 30px;
}

.menu__item:not(:last-child) {
  margin-right: 40px;
}

.menu__item-link {
  height: 100%;
  font-size: 18px;
  line-height: 140%;
  font-weight: 600;
  color: var(--white);
}

.menu__item-line-hover {
  margin-bottom: 1px;
  width: 100%;
  height: 1px;
}

/* header-nav__search-panel */

.header-nav__search-panel {
  width: 258px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-panel__input {
  margin-right: 5px;
  padding-left: 10px;
  width: 213px;
  max-width: 213px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: var(--white);
  outline: none;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  color: var(--light-black);
}

.search-panel__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: var(--orange);
  cursor: pointer;
}

.search-panel__btn svg {
  width: 20px;
  height: 20px;
}

/* header__header-top_mobile (<768px) */

.header__header-top_mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: var(--light-black);
}

/* header__burger-menu (<768px) */

.burger-menu-btn {
  display: none;
  position: relative;
  width: 30px;
  height: 44px;
  cursor: pointer;
}

.burger-menu-btn span {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 30px;
  height: 4px;
  transform: translate(-50%, 0);
  transition: transform 0.5s;
  background-color: var(--grey);
}

.burger-menu-btn span:nth-last-of-type(2) {
  top: calc(45% - 10px);
}

.burger-menu-btn span:nth-last-of-type(3) {
  top: calc(45% + 10px);
}

.burger-menu-btn.active span:nth-of-type(3) {
  display: none;
}

.burger-menu-btn.active span:nth-of-type(1) {
  top: 45%;
  transform: translate(-50%, 0) rotate(45deg);
}

.burger-menu-btn.active span:nth-of-type(2) {
  top: 45%;
  transform: translate(-50%, 0) rotate(-45deg);
}

/* burger-menu (<768px) */

.burger-menu__list {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 3;
  padding: 30px 15px 15px 15px;
  width: 100%;
  height: 100%;
  background-color: var(--light-black);
  transform: translateX(-100%);
  transition: transform .2s;
  overflow-y: auto;
}

.burger-menu__list.active {
  transform: translateX(0);
}

.burger-menu__item_main {
  display: flex;
  align-items: center;
  height: 60px;
}

.burger-menu__item_main:nth-child(3) {
  margin-bottom: 20px;
}

.burger-menu__item-link_main {
  font-size: 18px;
  line-height: 100%;
  font-weight: 600;
  color: var(--white);
}

.burger-menu__item_secondary {
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  color: var(--grey);
}

.burger-menu__item_secondary:not(:last-child) {
  margin-bottom: 30px;
}

.burger-menu__item_secondary:last-child {
  margin-bottom: 100px;
}

.burger-menu__item_secondary:nth-child(4) {
  padding-top: 30px;
  border-top: 1px solid var(--dark-grey);
}

.burger-menu__item-link_secondary {
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  color: var(--grey);
}

/* header__links-menu (<768px) */

.header__links-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

[data-name="links-menu"] {
  width: 200px;
}

.links-menu__item {
  width: 25px;
}

.links-menu__shopping-cart {
  width: fit-content;
}

.links-menu__item:not(:last-child) {
  margin-right: 60px;
}

.links-menu__item:hover {
  cursor: pointer;
}

/* search-panel_mobile (<768px) (modal) */

[data-name="search-panel_mobile"].active {
  display: flex
}

.modal-window_mobile {
  top: 60px;
}

.modal-window__search-panel-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  width: 100%;
  height: fit-content;
}

.modal-panel__search-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 140px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--light-black);
  box-shadow: 0px 0px 15px 3px rgba(17, 17, 17, 0.6);
}

.modal-panel__btn-close-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background-color: none;
}

.modal-panel__btn-close_search {
  padding-right: 15px;
}

.modal-panel__btn-close {
  position: relative;
  width: 20px;
  height: 40px;
  cursor: pointer;
}

.modal-panel__btn-close span {
  position: absolute;
  left: 50%;
  width: 24px;
  height: 4px;
  background-color: var(--white);
}

.modal-panel__btn-close span:nth-of-type(1) {
  top: 45%;
  transform: translate(-50%, 0) rotate(45deg);
}

.modal-panel__btn-close span:nth-of-type(2) {
  top: 45%;
  transform: translate(-50%, 0) rotate(-45deg);
}

/* header__header-logo_mobile (<768px) */

.header__header-logo_mobile {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}

.header__header-logo_mobile svg {
  width: 270px;
}

/* @media *//* @media *//* @media *//* @media */
/* @media *//* @media *//* @media *//* @media */
/* @media *//* @media *//* @media *//* @media */

@media (min-width:1200px) {   /* :hover and :active для desktop */

  /* header-top__contacts */

  .contacts__item-link:hover {
    color: var(--orange);
  }

  .contacts__item-link-icon:active {
    opacity: 0.7;
  }

  .contacts__item-link:active {
    opacity: 0.7;
  }

  /* header-top__account */

  .header-top__account:hover .header-top__account-title {
    color: var(--orange);
  }

  .header-top__account:hover .account-icon_path-background {
    fill: var(--red);
  }

  .header-top__account:active .header-top__account-title,
  .header-top__account:active .account-icon_path-background {
    opacity: 0.7;
  }

  /* header-top__shopping-cart */

  .header-top__shopping-cart-icon:hover .cart-icon_path-background {
    fill: var(--orange);
  }

  .header-top__shopping-cart-icon:active .cart-icon_path-background {
    opacity: 0.7;
  }

  /* header__header-nav (>768px) */

  .menu__item:hover > .menu__item-link {
    color: var(--orange);
  }

  .menu__item:hover > .menu__item-line-hover {
    background-color: var(--orange);
  }

  .menu__item:active > .menu__item-link {
    opacity: 0.7;
  }

  /* header-nav__search-panel */

  .search-panel__btn:hover {
    background-color: var(--red);
  }

  .search-panel__btn:active {
    opacity: 0.7;
  }

  /* header__burger-menu (<768px) */

  .burger-menu-btn:hover span {
    background-color: var(--orange);
  }

  /* burger-menu (<768px) */

  .burger-menu__item-link_main:hover {
    color: var(--orange);
  }

  .burger-menu__item-link_main:active {
    opacity: 0.7;
  }

  .burger-menu__item-link_secondary:hover {
    color: var(--orange);
  }

  .burger-menu__item-link_secondary:active {
    opacity: 0.7;
  }

  /* header__links-menu (<768px) */

  .links-menu__item:hover {
    cursor: pointer;
  }

  .links-menu__item:hover .links-item_path-background {
    fill: var(--red);
  }

  .links-menu__item:active .links-item_path-background {
    opacity: 0.7;
  }

  /* search-panel_mobile (<768px) (modal) */

  .modal-panel__btn-close:hover span {
    background-color: var(--grey);
  }

  .modal-panel__btn-close:active span {
    opacity: 0.7;
  }

}

@media (max-width:1199.98px) {   /* :active для mobile */

  /* header-top__contacts */

  .contacts__item-link:active {
    color: var(--orange);
  }

  /* header-top__account */

  .header-top__account:active .header-top__account-title {
    color: var(--orange);
  }

  .header-top__account:active .account-icon_path-background {
    fill: var(--red);
  }

  /* header-top__shopping-cart */

  .header-top__shopping-cart-icon:active .cart-icon_path-background {
    fill: var(--orange);
  }

  /* header__header-nav (>768px) */

  .menu__item:active > .menu__item-link {
    color: var(--orange);
  }

  /* header-nav__search-panel */

  .search-panel__btn:active {
    background-color: var(--red);
  }

  /* header__burger-menu (<768px) */

  .burger-menu-btn:active span {
    background-color: var(--orange);
  }

  /* burger-menu (<768px) */

  .burger-menu__item-link_main:active {
    color: var(--orange);
  }

  .burger-menu__item-link_secondary:active {
    color: var(--orange);
  }

  /* header__links-menu (<768px) */

  .links-menu__item:active .links-item_path-background {
    fill: var(--red);
  }

  /* search-panel_mobile (<768px) (modal) */

  .modal-panel__btn-close:active span {
    background-color: var(--grey);
  }

}

@media (min-width: 768px) and (max-width: 991.98px) {

  /* header-top__logo */

  .header-top__logo {
    width: 270px;
  }

}

@media (min-width: 768px) and (max-width: 850px) {

  /* header-top__contacts */

  [data-name="header-phone"],
  [data-name="header-email"] {
    display: none;
  }

  .contacts__item-link-icon {
    pointer-events: auto;
    cursor: pointer;
  }

  .contacts__item-link-icon:hover .contacts-icon_path-background,
  .contacts__item-link-icon:active .contacts-icon_path-background {
    fill: var(--red);
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {

  /* header__header-top */

  .header__header-top {
    display: none;
  }

  /* header__header-nav */

  .header__header-nav {
    display: none;
  }

  /* header__header-top_mobile */

  .header__header-top_mobile {
    display: flex;
  }

  /* header__burger-menu */

  .burger-menu-btn {
    display: block;
  }

  /* header__header-logo_mobile */

  .header__header-logo_mobile {
    display: flex;
  }

}

@media (min-width: 320px) and (max-width: 767.98px) {

  /* header */

  .header {
    min-height: 140px;
  }

  .header__container {
    padding-top: 60px;
  }

}

@media (min-width: 320px) and (max-width: 575.98px) {

  /* header__header-top */

  .header__header-top {
    display: none;
  }

  /* header__header-nav */

  .header__header-nav {
    display: none;
  }

  /* header__header-top_mobile */

  .header__header-top_mobile {
    display: flex;
  }

  /* header__burger-menu */

  .burger-menu-btn {
    display: block;
  }

  /* header__links-menu */

  .links-menu__item:not(:last-child) {
    margin-right: 50px;
  }

  /* search-panel_mobile */

  .search-panel__input {
    width: 100%;
  }

  /* header__header-logo_mobile */

  .header__header-logo_mobile {
    display: flex;
  }

}

@media (min-width: 430px) and (max-width: 480px) {

  /* header__links-menu */

  .links-menu__item:not(:last-child) {
    margin-right: 40px;
  }

}

@media (min-width: 380px) and (max-width: 429.98px) {

  /* header__links-menu */

  .links-menu__item:not(:last-child) {
    margin-right: 30px;
  }

}

@media (min-width: 350px) and (max-width: 379.98px) {

  /* header__links-menu */

  .links-menu__item:not(:last-child) {
    margin-right: 25px;
  }

}

@media (min-width: 330px) and (max-width: 349.98px) {

  /* header__links-menu */

  .links-menu__item:not(:last-child) {
    margin-right: 15px;
  }

}

@media (min-width: 320px) and (max-width: 329.98px) {

  /* header__links-menu */

  .links-menu__item:not(:last-child) {
    margin-right: 15px;
  }

}

@media (min-width: 320px) and (max-width: 350px) {

  /* header-nav__search-panel */

  .header-nav__search-panel {
    width: 100%;
  }

  .search-panel__input {
    max-width: 100%;
    width: 100%;
  }

 /* header__links-menu (<768px) */

  [data-name="links-menu"] {
    width: 170px;
  }

}
