
/* import styles */

@import url("/bs-shop-full-version/css/normalize.css"); /* styles Normalize */

@import url("/bs-shop-full-version/css/styles-basic.css"); /* styles basic */

/* footer */

.footer {
  min-height: 225px;
  background-color: var(--light-grey);
}

.footer__container {
  height: 100%;
  background-color: var(--light-black);
}

/* footer__footer-nav */

.footer__footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  height: 125px;
  border-bottom: 1px solid var(--dark-grey);
}

.footer-nav__footer-menu-line {
  display: flex;
  align-items: center;
}

.footer-nav__footer-menu-line:nth-of-type(1) {
  margin-bottom: 20px;
}

.footer-menu__item-wrapper {
  text-align: center;
  align-items: center;
  margin-right: 40px;
  width: fit-content;
}

.footer-menu__item {
  align-items: center;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  color: var(--grey);
}

[data-name="footer-link-1_6"],
[data-name="footer-link-1_7"],
[data-name="footer-link-1_8"],
[data-name="footer-link-1_9"] {
  display: none;
}

[data-name="footer-menu-line-3"],
[data-name="footer-menu-line-4"] {
  display: none;
}

[data-name="footer-link-2_1"],
[data-name="footer-link-2_2"],
[data-name="footer-link-2_3"] {
  display: none;
}

[data-name="footer-link-1_5"],
[data-name="footer-link-2_7"] {
  margin-right: 0;
}

/* footer__footer-info */

.footer__footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.footer-info__contacts {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 100%;
}

/* footer__social-links_mobile (<768px) */

.footer__social-links_mobile {
  display: none;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid var(--dark-grey);
}

/* footer-info__social */

.footer-info__social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.social__item {
  width: 50px;
}

.social__item:not(:last-child) {
  margin-right: 30px;
}

/* footer-info__copyright */

.footer-info__copyright {
  font-size: 19px;
  line-height: 140%;
  font-weight: 400;
  color: var(--grey);
  cursor: pointer;
}

/* scroll up btn */

.scroll-btn-container {
  width: 100%;
}

.scroll-btn {
  display: flex;
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 999;
  width: 44px;
  height: 44px;
  opacity: 0;
  border-radius: 22px;
  cursor: pointer;
  transition: opacity 0.6s;
}

.scroll-btn_visible {
  opacity: 0.9;
}

/* @media *//* @media *//* @media *//* @media */
/* @media *//* @media *//* @media *//* @media */
/* @media *//* @media *//* @media *//* @media */

@media (min-width:1200px) {   /* :hover and :active для desktop */

  /* footer__footer-nav */

  .footer-menu__item:hover {
    color: var(--orange);
  }

  .footer-menu__item:active {
    opacity: 0.7;
  }

  /* footer-info__social */

  .social__item:hover .social_path-background {
    fill: var(--orange);
  }

  .social__item:active .social_path-background {
    opacity: 0.7;
  }

  /* scroll up btn */

  .scroll-btn:hover > svg > path {
    fill: var(--orange);
  }

  .scroll-btn:active > svg {
    opacity: 0.8;
  }

}

@media (max-width:1199.98px) {   /* :active для mobile */

  /* footer__footer-nav */

  .footer-menu__item:active {
    color: var(--orange);
  }

  /* footer-info__social */

  .social__item:active .social_path-background {
    fill: var(--orange);
  }

  /* scroll up btn */

  .scroll-btn:active > svg > path {
    fill: var(--orange);
  }

}

@media (min-width: 992px) and (max-width: 1199.98px) {

  /* footer__footer-nav */

  [data-name="footer-link-1_5"] {
    display: none;
  }

  [data-name="footer-link-2_3"] {
    display: flex;
  }

  .footer-menu__item-wrapper {
    margin-right: 40px;
  }

  [data-name="footer-link-1_4"],
  [data-name="footer-link-2_7"] {
    margin-right: 0;
  }

}

@media (min-width: 768px) and (max-width: 991.98px) {

  /* footer */

  .footer {
    min-height: 268px;
  }

  /* footer__footer-nav */

  .footer__footer-nav {
    height: 168px;
  }

  [data-name="footer-link-1_3"],
  [data-name="footer-link-1_4"],
  [data-name="footer-link-1_5"] {
    display: none;
  }

  [data-name="footer-link-2_1"],
  [data-name="footer-link-2_2"],
  [data-name="footer-link-2_3"],
  [data-name="footer-link-2_4"] {
    display: flex;
  }

  [data-name="footer-link-2_5"],
  [data-name="footer-link-2_6"],
  [data-name="footer-link-2_7"] {
    display: none;
  }

  [data-name="footer-menu-line-2"] {
    margin-bottom: 20px;
  }

  [data-name="footer-menu-line-3"] {
    display: flex;
  }

  [data-name="footer-link-3_1"],
  [data-name="footer-link-3_2"] {
    display: none;
  }

  [data-name="footer-link-3_3"],
  [data-name="footer-link-3_4"],
  [data-name="footer-link-3_5"] {
    display: flex;
  }

  [data-name="footer-link-1_2"],
  [data-name="footer-link-2_4"],
  [data-name="footer-link-3_5"]  {
    margin-right: 0;
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {

  /* footer */

  .footer {
    min-height: 390px;
  }

  /* footer__footer-nav */

  .footer__footer-nav {
    height: 210px;
  }

  [data-name="footer-link-1_3"],
  [data-name="footer-link-1_4"],
  [data-name="footer-link-1_5"] {
    display: none;
  }

  [data-name="footer-link-2_1"],
  [data-name="footer-link-2_2"] {
    display: flex;
  }

  [data-name="footer-menu-line-2"] {
    margin-bottom: 20px;
  }

  [data-name="footer-link-2_3"],
  [data-name="footer-link-2_4"],
  [data-name="footer-link-2_5"],
  [data-name="footer-link-2_6"],
  [data-name="footer-link-2_7"] {
    display: none;
  }

  [data-name="footer-menu-line-3"] {
    display: flex;
  }

  [data-name="footer-menu-line-3"] {
    margin-bottom: 20px;
  }

  [data-name="footer-link-3_1"],
  [data-name="footer-link-3_2"],
  [data-name="footer-link-3_3"] {
    display: flex;
  }

  [data-name="footer-link-3_4"],
  [data-name="footer-link-3_5"] {
    display: none;
  }

  [data-name="footer-menu-line-4"] {
    display: flex;
  }

  [data-name="footer-link-1_2"],
  [data-name="footer-link-2_2"],
  [data-name="footer-link-3_3"],
  [data-name="footer-link-4_2"]  {
    margin-right: 0;
  }

  /* footer-info__social */

  .footer-info__social {
    display: none;
  }

  /* footer__social-links_mobile */

  .footer__social-links_mobile {
    display: flex;
  }

}

@media (min-width: 320px) and (max-width: 575.98px) {

  /* footer */

  .footer {
    min-height: 682px;
  }

  /* footer__footer-nav */

  .footer__footer-nav {
    padding-bottom: 0;
    height: 502px;
  }

  .footer-nav__footer-menu-line {
    flex-direction: column;
    align-items: center;
  }

  .footer-nav__footer-menu-line:nth-of-type(1) {
    margin-bottom: 30px;
  }

  .footer-menu__item-wrapper {
    align-items: center;
    margin-right: 0;
  }

  .footer-menu__item-wrapper:not(:last-child) {
    margin-bottom: 30px;
  }

  [data-name="footer-link-1_6"],
  [data-name="footer-link-1_7"],
  [data-name="footer-link-1_8"],
  [data-name="footer-link-1_9"] {
    display: flex;
  }

  [data-name="footer-menu-line-2"],
  [data-name="footer-menu_line-3"],
  [data-name="footer-menu-line-4"] {
    display: none;
  }

  [data-name="footer-link-1_9"] {
    margin-right: 0;
  }

  /* footer-info__social */

  .footer-info__social {
    display: none;
  }

  /* footer__social-links_mobile */

  .footer__social-links_mobile {
    display: flex;
  }

  .social__item {
    width: 44px;
  }

}

@media (min-width: 320px) and (max-width: 450px) {

  /* footer */

  .footer {
    min-height: 768px;
  }

  /* footer__footer-nav */

  [data-name="footer-link-1_3"] {
    width: 330px;
  }

  /* footer__footer-info */

  .footer__footer-info {
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
  }

  .footer-info__contacts {
    height: 100px;
  }

  .footer-info__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 43px;
    margin-bottom: 20px;
  }

}

@media (min-width: 320px) and (max-width: 450px) {

  /* footer__footer-nav */

  .footer__footer-nav {
    height: 525px;
  }

}
