
/* import styles */

@import url("/bs-shop-full-version/css/normalize.css"); /* styles Normalize */

@import url("/bs-shop-full-version/css/styles-basic.css"); /* styles basic */

@import url("/bs-shop-full-version/css/styles-header.css"); /* styles <header> */

@import url("/bs-shop-full-version/css/styles-footer.css"); /* styles <footer> */

/* section__change-return */

.section__change-return {
  margin-left: auto;
  margin-right: auto;
  max-width: 962px;
}

/* change-return-list */

.chapter-text {
  margin-bottom: 20px;
}

.chapter-text__list {
  margin-bottom: 50px;
  list-style-type: disc;
}

.chapter-text__list-item {
  margin-left: 20px;
}

.chapter-text__list-item:not(:last-child) {
  margin-bottom: 5px;
}

/* change-return-download-link */

.change-return__download-link-change,
.change-return__download-link-return {
  display: flex;
  align-items: center;
  width: fit-content;
}

.change-return__download-link-change {
  margin-bottom: 30px;
}

.change-return__download-link-return {
  margin-bottom: 35px;
}

.download-link__icon {
  margin-right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.download-link__icon svg path {
  stroke: var(--blue);
}

/* @media *//* @media *//* @media *//* @media */
/* @media *//* @media *//* @media *//* @media */
/* @media *//* @media *//* @media *//* @media */

@media (min-width:1200px) {   /* :hover and :active для desktop */

  /* change-return-download-link */

  .change-return__download-link-change:hover > .download-link__icon > svg path,
  .change-return__download-link-return:hover > .download-link__icon > svg path {
    stroke: var(--red);
  }

  .change-return__download-link-change:hover > .download-link__title,
  .change-return__download-link-return:hover > .download-link__title {
    color: var(--red);
  }

}

@media (max-width:1199.98px) {   /* :active для mobile */

  /* change-return-download-link */

  .change-return__download-link-change:active > .download-link__icon > svg path,
  .change-return__download-link-return:active > .download-link__icon > svg path {
    stroke: var(--red);
  }

  .change-return__download-link-change:active > .download-link__title,
  .change-return__download-link-return:active > .download-link__title {
    color: var(--red);
  }

}
